@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@700&display=swap');

body {
    background-color: #f0f0f0;
    padding: 15px;
  }
  .error-message {
    display: block;
    color: red;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.error-message-input{
  color: red;
  font-size: 14px;
  margin: 1px auto 0;
  padding: 0;
}
  .content {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .title {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
  }
  .form-group {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: auto;
    border-radius: 3px;
    font-size: 14px;
  }
  .btn-container {
    text-align: right;
    margin-top: 15px;
  }
  .btn {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }
  .btn-cancel {
    background-color: #ccc;
    color: #fff;
    margin-right: 10px;
  }
  .btn-cancel:hover {
    background-color: #a2a2a2;
  }
  .btn-save {
    background-color: #007bff;
    color: #fff;
  }

  .btn-save:hover {
    background-color: #0061c9;
  }